<div
  class="container-fluid page-header wow fadeIn"
  data-wow-delay="0.1s"
  style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn"
>
  <div class="container">
    <h1 class="display-3 mb-3 slideInDown">Əlaqə</h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
          <a class="text-body" href="#">Əsas Səhifə</a>
        </li>
        <li class="breadcrumb-item">
          <a class="text-body" href="#">Səhifələr</a>
        </li>
        <li class="breadcrumb-item text-dark active" aria-current="page">
          Əlaqə
        </li>
      </ol>
    </nav>
  </div>
</div>
<app-contact></app-contact>
<div
  class="container-xxl px-0 wow fadeIn"
  data-wow-delay="0.1s"
  style="margin-bottom: -6px"
>
  <iframe class="w-100" style="height: 450px;"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2868.7083940642324!2d49.83895900968008!3d40.380250886370746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307da3c522fea3%3A0xf0b893cbfda72fd7!2zOVJIUStXNlIsIE3JmXJkYW5vdiBRYXJkYXNobGFyxLEsIEJha8SxLCBBesmZcmJheWNhbg!5e0!3m2!1saz!2s!4v1676742125531!5m2!1saz!2s"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
