<div class="container-fluid bg-primary bg-icon mt-5 py-6">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-md-7 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                <h1 class="display-5 text-white mb-3">Bizi ziyarət et</h1>
                <p class="text-white mb-0">Şirkət olaraq iş prosesinin şəffaflığı baxımından sizləri müəssisəmizə dəvət edirik.Müştəri məmnuniyyəti bizim üçün 
                    çox önəmlidir.Buna görə də daima yenilənir və iş prosesimizi şəffaşlaşdırırıq.
                </p>
            </div>
            <div class="col-md-5 text-md-end wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                <a class="btn btn-lg btn-secondary rounded-pill py-3 px-5" href="">Ziyarət et</a>
            </div>
        </div>
    </div>
</div>