<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="../../../../assets/img/about.jpg">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                <h1 class="display-5 mb-4">Təbii və keyfiyyətli məhsullarımızla illərdir xidmətinizdəyik</h1>
                <p class="mb-4">MFK MMC olaraq 2010-cu ildən etibarən bazarda keyfiyyətli və orqanik məhsullarımızla müştərilərə xidmət edirik.Bizim fərqimiz xidmətimizin yüksək səviyyədə olmasıdır.Şirkət olaraq daima aşağıdakı meyarları üstün tuturuq.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Bazar tələbatına uyğun olaraq dayanıqlı və münasib qiymət</p>
                <p><i class="fa fa-check text-primary me-3"></i>Sağlam rəqabət</p>
                <p><i class="fa fa-check text-primary me-3"></i>Operativ xidmət və sürətli çatdırılma</p>
                <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" routerLink="about">Ətraflı</a>
            </div>
        </div>
    </div>
</div>