<div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
    <div class="container">
        <h1 class="display-3 mb-3  slideInDown">Müştəri məmnuniyyəti</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-body" href="#">Əsas Səhifələr</a></li>
                <li class="breadcrumb-item"><a class="text-body" href="#">Səhifələr</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page">Müştəri məmnuniyyəti</li>
            </ol>
        </nav>
    </div>
</div>
<app-testimonial></app-testimonial>