<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
    <div class="container">
        <h1 class="display-3 mb-3  slideInDown">Haqqımızda</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-body" href="#">Əsas Səhifə</a></li>
                <li class="breadcrumb-item"><a class="text-body" href="#">Səhifələr</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page">Haqqımızda</li>
            </ol>
        </nav>
    </div>
</div>
<app-about></app-about>
<app-visit></app-visit>
<app-feature></app-feature>
